

.botonNav{
  width: 80px;
    margin-left: 0;
}
.iconoFooter{
  border-right: 1px solid rgb(217, 35, 15);
  height: 50px;
  margin: 8px 12px;
  padding-right: 10px;
}
/* .imagenCarrusel{
  height: 450px;
} */
.botonCarrusel{
  border: 2px solid white;
  background-color: transparent;
  color: white;
  border-radius: 100px;
  height: 40px;
  padding: 0 20px;
  font-size: 15px;
}
.botonCarrusel:hover{
  background-color: white;
  color: #6D6D6D;
}
.logoRojo{
  width: 200px;
}
/* SERVICIOS */
.servicio1{
  background-color: rgb(217, 35, 15, 0.8);
  color: white;
  padding: 25px 0;
  width: 25%;
  
}
.servicio2{
  background-color: rgb(217, 35, 15, 0.6);
  color: white;
  padding: 25px 0;
  width: 25%;
}
.servicio1:hover{
  background-color: rgb(217, 35, 15, 0.7);
  cursor: default;
}
.servicio2:hover{
  background-color: rgb(217, 35, 15, 0.7);
  cursor: default;
}

.imgLogo{
  width: 700px;
}

/* MModal contacto */
.cuadroFacebook{
  background-color: #3b5998;
  /* margin: 5% 13%; */
  border-radius: 4px;
  color: white;
  padding: 8px;
}
.cuadroInstagram{
  background: linear-gradient(90deg, #8134AF, #dd2A7B, #f58529);
  /* margin: 5% 13%; */
  border-radius: 4px;
  color: white;
  padding: 8px;
  
}
.cuadroInstagram:hover{
  background: linear-gradient(20deg, #8134AF, #dd2A7B, #f58529);
}
.cuadroFacebook:hover{
  background-color:rgb(59, 89, 152, 0.93);
}


.linkModal:hover{
  text-decoration: none;
}
.footerRegistro{
  margin-top: 35px;
  border-top: solid 1px #aaaaaa;
}

.cerrarModal{
  background-color: black;
  color: white;
}

.cuadroLlamada{
  color: rgb(217, 35, 15);
}

.iconoWhatsapp{
  width: 80px;
}
.iconoWhatsappFixed{
  position: sticky;
  bottom: 20px;
  left: 75%;
  
}
.seccionWhatsapp{
  position: sticky;
  bottom: 20px;
  left: 75%;
}